.jumbotron{
	background: #A0ABD4;
/*	background: none  */
	padding-left: 32px;
	padding-top: 12px;
	

}



body{
	background: #E0E1E7;

}


.newuser{
	padding: 28px 12px;
}




.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
 
.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registrarse{
	border-left: 1px solid #A0ABD4;
}

.btnre{
	background: #596387;
	border:none;
}
.btnre:hover{
	background: #596387;
	opacity: 0.70
}

input:focus {
	background: #DAE2FF;
	border:;

}


.btnn {	
	background: #87784B;
	border:none;
}
.btnn:hover{
	background:#87784B;
	opacity: 0.80	
}

.olvidado{
	position: absolute;	
	margin-left: -90px;
}






